<?xml version="1.0"?>
<ruleset name="ZealPHP MongoDB">
    <description>Coding standard for zealphp-mongodb</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg value="ps"/>

    <file>php/src</file>
    <file>tests</file>

    <rule ref="Doctrine">
        <!-- Disable overly strict rules for initial adoption -->
        <exclude name="SlevomatCodingStandard.TypeHints.ReturnTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.TypeHints.ParameterTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.TypeHints.PropertyTypeHint.MissingNativeTypeHint"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousExceptionNaming"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming"/>
        <exclude name="SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming"/>
        <exclude name="Generic.Formatting.MultipleStatementAlignment"/>
        <exclude name="Squiz.Commenting.FunctionComment"/>
    </rule>
</ruleset>
