<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MONGODB_URI" value="mongodb://db.selfmade.ninja:27017"/>
        <env name="MONGODB_DATABASE" value="zealphp_test"/>
        <ini name="zend.assertions" value="1"/>
    </php>
    <source>
        <include>
            <directory>php/src</directory>
        </include>
        <exclude>
            <file>php/src/compat/bson_polyfill.php</file>
            <file>php/src/AsyncBridge.php</file>
            <file>php/src/AsyncCursor.php</file>
        </exclude>
    </source>
</phpunit>
